<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <googleSheetsApi>
    <credentialsEnvVar val="GoogleApiCredentials"/>
    <credentialsFileName val="client_secrets.json"></credentialsFileName>
    <appName val="MyApp"/>
  </googleSheetsApi>
  <firebaseApi>
    <secretTokenVar val="FirebaseSecret"/>
    <basePath val="https://schedule-generator-5f50e.firebaseio.com/"/>
  </firebaseApi>
  <telegramApi>
    <secretTokenEnvVar val="TelegramBotSecret"/>
  </telegramApi>
  <sheetSettings>
    <sheet name="Requisitions">
      <header name="Преподавател">
        <description>Имя преподавателя</description>
        <pattern value=".+"/>
        <errorMessage value="Нужно вписать имя преподавателя"/>
      </header>

      <header name="Предмет">
        <description>Название предмета (например Матанализ)</description>
        <pattern value=".+"/>
        <errorMessage value="Нужно вписать назваине дисциплины"/>
      </header>

      <header name="Тип занятия">
        <description>Лекция/Семинар/КомпПрактика</description>
        <pattern value="^(Лекция|Семинар|КомпПрактика)$"/>
        <errorMessage value="Тип занятия может быть только Лекция/Семинар/КомпПрактика"/>
      </header>

      <header name="Количество повторений каждого занятия">
        <description>Количество подряд идущих занятий с той же группой</description>
        <pattern value="^\d$"/>
        <errorMessage value="Количество повторений должно быть числом"/>
      </header>

      <header name="Приоритеты групп, в которых назначать занятия">
        <description>
          через + объединяются группы в один поток. Через запятую те группы, в которые можно назначать. В разных строках можно задавать предпочтения - чем ниже, тем менее предпочтительно.

          Например:

          ФИИТ-101, ФИИТ-102
          ФИИТ-103

          означает, что хочу вести в 101 или 102, если не получится, то 103 тоже подойдет. 104 не предлагать.
        </description>
        <pattern value="^((?:\w+\s?-\s?(?:\*|(?:\d+(?:\s?-\s?(\*|\d))?))?)(?:(?:\s?\+\s?|,\s?)(\w+\s?-\s?(?:\*|(?:\d+(?:\s?-\s?(\*|\d))?))?))*(\r?\n)?)+$"/>
        <errorMessage value="Формат не соответствует шаблону, шаблон указан в заголовке столбца"/>
      </header>

      <header name="Время">
        <description>
          варианты в строчках, по уменьшению желаемости. Список дней недели, список номеров пар.
          Например:
          пн-чт, 1-3 пара
          пт, 3-4 пара

          означает, что желательно пару не в пятницу поставить в диапазон 1-3. Если не получится, то поставить в пятницу 3 или 4.
        </description>
        <pattern value="^((((пн|вт|ср|чт|пт|сб|вс)(\s?-\s?(пн|вт|ср|чт|пт|сб|вс))?)((,\s?)((пн|вт|ср|чт|пт|сб|вс)(\s?-\s?(пн|вт|ср|чт|пт|сб|вс))?))*)?((,\s)?(\d(\s?-\s?\d)?)((,\s)(\d(\s?-\s?\d)?))*\sпара)?(\r?\n)?)*$"/>
        <errorMessage value="Формат не соответствует шаблону, шаблон указан в заголовке столбца"/>
      </header>

      <header name="Четность">
        <description>четная/нечетная (можно не указывать)</description>
        <pattern value="^(четная|нечетная|Четная|Нечетная)?$"/>
        <errorMessage value="четная/нечетная (можно не указывать)"/>
      </header>
    </sheet>

    <sheet name="LearningPlan">
      <header name="Группы">
        <description>Перечислите группы через запятую (,)</description>
        <pattern value="^((?:\w+\s?-\s?(?:\*|(?:\d+(?:\s?-\s?(\*|\d))?))?)(?:(?:\s?\+\s?|,\s?)(\w+\s?-\s?(?:\*|(?:\d+(?:\s?-\s?(\*|\d))?))?))*(\r?\n)?)+$"/>
        <errorMessage value="Формат не соответствует шаблону, шаблон указан в заголовке столбца"/>
      </header>

      <header name="Предмет">
        <description>Укажите название дисциплины (например Матанализ)</description>
        <pattern value=".+"/>
        <errorMessage value="Нужно вписать назваине дисциплины"/>
      </header>

      <header name="Тип занятия">
        <description>Семинар/КомпПрактика/Лекция</description>
        <pattern value="^(Лекция|Семинар|КомпПрактика)$"/>
        <errorMessage value="Тип занятия может быть только Лекция/Семинар/КомпПрактика"/>
      </header>

      <header name="Деление">
        <description>"в половиках" или ничего ну указывайте</description>
        <pattern value=".*"/>
        <errorMessage value="Формат не соответствует шаблону, шаблон указан в заголовке столбца"/>
      </header>

      <header name="Количество">
        <description>Чилсло пар в неделю, если зависит от четности, укажите среднее число занятий</description>
        <pattern value="^\d([,\.]?\d)?$"/>
        <errorMessage value="Среднее количество занятий в неделю должно быть цифрой или десятичной дробью"/>
      </header>

      <header name="Аудитория">
        <description>Номер аудитории, ее качество или оборудовние: 150/большая/проектор/онлайн. Можно комбинировать</description>
        <pattern value=".*"/>
        <errorMessage value="Формат не соответствует шаблону, шаблон указан в заголовке столбца"/>
      </header>
    </sheet>
  </sheetSettings>
</configuration>